<header>
  <div class="container">
    <div class="header-content">
      <a href="#" class="logo">Ренат Арсланов</a>
      <a href="#contact" class="header-cta">Записаться</a>
    </div>
  </div>
</header>
