<header>
  <div class="container">
    <div class="header-content">
      <%= link_to "Ренат Арсланов", root_path, class: "logo" %>
      <%= link_to "Записаться", "#contact", class: "header-cta" %>
    </div>
  </div>
</header>
